{% extends 'base.html' %}

{% block main_content %}
<h2>Board</h2>
<form action="/create" method="GET" id="create"></form>
<form action="/delete" method="GET" id="delete"></form>
<div class="input-group mb-3">
    <input type="text" name="message" class="form-control" form="create" autocomplete="off" autofocus>
    <div class="input-group-append">
        <input type="submit" value="Create" class="btn btn-outline-primary" form="create">
        <input type="submit" value="Delete all" class="btn btn-outline-danger" form="delete">
    </div>
</div>
{% for message in messages %}
<div class="alert alert-primary">
    {{ message }}
</div>
{% endfor %}

{% endblock main_content %}
